div{
  padding: 50px;
  margin: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main_image{
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.button{
  padding-top: 0px;
  margin-top: 0px;
}

.m_button,.c_button{
  padding: 15px;
  margin-left: 15px;
  border-radius: 5px;
  border-width: 5px;
  font-weight: bold;
  background-color: rgb(49, 143, 160);
  color: white;
  cursor: pointer;
}

a{
  text-decoration:none;
  color: white;
  cursor: pointer;
}